body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding: 20px;
}

td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding: 20px;
}

img {
  width: 100px;
  height: 100px;
}

.parallax {
  background-image: url("img_parallax.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-header {
  background-color: #aabbcc;
  font-size: 50px;
  padding-bottom: 70px;
  padding-top: 100px;
  text-align: center;
}

.about-me {
  padding-top: 300px;
  padding-bottom: 300px;
  background-image: url(imgs/forget-me-not.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me h1 {
  text-align: center;
  font-size: 90px;
  font-weight: bold;
}

.about-me h2 {
  font-size: 40px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-me-box {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

#heroImage {
  background-image: url("imgs/Carnation-Flower.jpg");
  height: 100vh;
}
